<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="disc" class="com.qhc.xml.Disc"/>
    <bean id="discDriver" class="com.qhc.xml.DiscDriver">
        <constructor-arg ref="disc"/>
    </bean>
</beans>