<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    注册数据库的配置文件-->
    <properties resource="db.properties"/>
    <!--    为实体类定义别名，其他地方引用的时候可以简化引用,这这里使用的是.不是/-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.qhc.multi.beans.Book" alias="_Book"></typeAlias>
        <typeAlias type="com.qhc.multi.beans.Author" alias="_Author"></typeAlias>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/BookMapper.xml"/>
    </mappers>
</configuration>
