<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="cn.org.geneplus.beans.Person" lazy-init="true">

    </bean>

    <bean id="person2" class="cn.org.geneplus.beans.Person" scope="singleton"></bean>

<!--    通过setter方法注入属性-->
    <bean id="person3" class="cn.org.geneplus.beans.Person">
        <property name="userid" value="1"></property>
        <property name="username" value="张三"></property>
        <property name="password" value="123456"></property>
    </bean>

    <!-- 通过构造方法注入属性 -->
    <bean id="person4" class="cn.org.geneplus.beans.Person">
        <constructor-arg name="userid" value="4"></constructor-arg>
        <constructor-arg name="username" value="李四"></constructor-arg>
        <constructor-arg name="password" value="123321"></constructor-arg>
    </bean>

    <!-- 通过p命名空间注入属性,通过c命名空间注入属性 -->
    <bean id="person5" class="cn.org.geneplus.beans.Person" p:userid="5" p:password="123333" p:username="张飞"></bean>

    <!-- 通过c命名空间注入属性 -->
    <bean id="person6" class="cn.org.geneplus.beans.Person" c:userid="6" c:password="123444" c:username="塑料袋"></bean>
</beans>