<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 简单方式直接给对象注入集合 -->
    <bean id="student" class="cn.org.geneplus.bean.Student">
        <!-- 注入数组 -->
        <property name="bookArrays">
            <array>
                <value>book1</value>
                <value>book2</value>
                <value>book3</value>
                <value>book4</value>
            </array>
        </property>

        <!-- 集合注入 -->
        <property name="bookSet">
            <set>
                <value>book1</value>
                <value>book2</value>
                <value>book3</value>
                <value>book4</value>
            </set>
        </property>

        <!-- 列表注入 -->
        <property name="bookList">
            <list>
                <value>book1</value>
                <value>book2</value>
                <value>book3</value>
                <value>book4</value>
            </list>
        </property>

        <!-- map注入 -->
        <property name="bookMap">
            <map>
                <entry key="book1" value="author1"></entry>
                <entry key="book2" value="author2"></entry>
                <entry key="book3" value="author3"></entry>
                <entry key="book4" value="author4"></entry>
            </map>
        </property>

        <!-- 集合注入对象 -->
        <property name="bookObjList">
            <list>
                <ref bean="b1"></ref>
                <ref bean="b2"></ref>
                <ref bean="b3"></ref>
            </list>
        </property>



    </bean>

    <!-- 这里创建了外部对象，后面引入到对象集合中 -->
    <bean id="b1" class="cn.org.geneplus.bean.Book" p:name="JAVA" p:author="马士兵"></bean>
    <bean id="b2" class="cn.org.geneplus.bean.Book" p:name="Go" p:author="马士兵"></bean>
    <bean id="b3" class="cn.org.geneplus.bean.Book" p:name="JVM" p:author="马士兵"></bean>

</beans>